In [1]:
import pandas as pd

In [2]:
hospitals = pd.read_csv(
    'C:\\Users\\zhuj22\\OneDrive - Vanderbilt\\Documents\\GitHub\\data-science-essentials-5\\data\\Hospitals.csv')

In [17]:
#print(hospitals.head(1))
print(hospitals.shape)

(7596, 34)

In [23]:
hospitals = hospitals[['NAME', 'ADDRESS', 'CITY', 'STATE', 'TYPE',  'POPULATION', 'COUNTY', 'COUNTYFIPS', 'NAICS_DESC', 'BEDS']]

array(['GENERAL ACUTE CARE', 'PSYCHIATRIC', 'CHILDREN', 'LONG TERM CARE',
       'CRITICAL ACCESS', 'REHABILITATION', 'MILITARY', 'WOMEN',
       'SPECIAL', 'CHRONIC DISEASE'], dtype=object)

In [25]:
hospitals['TYPE'].unique()
hospitals['TYPE'].value_counts()

GENERAL ACUTE CARE    4481
CRITICAL ACCESS       1027
PSYCHIATRIC            759
LONG TERM CARE         431
REHABILITATION         378
MILITARY               216
SPECIAL                145
CHILDREN               130
WOMEN                   20
CHRONIC DISEASE          9
Name: TYPE, dtype: int64

In [4]:
nashville_hospitals = hospitals.loc[hospitals['CITY']=='NASHVILLE'].loc[hospitals['STATE']=='TN']
nashville_hospitals.info()
nashville_hospitals['BEDS']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 545 to 6813
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   X           13 non-null     float64
 1   Y           13 non-null     float64
 2   OBJECTID    13 non-null     int64
 3   ID          13 non-null     int64
 4   NAME        13 non-null     object
 5   ADDRESS     13 non-null     object
 6   CITY        13 non-null     object
 7   STATE       13 non-null     object
 8   ZIP         13 non-null     int64
 9   ZIP4        13 non-null     object
 10  TELEPHONE   13 non-null     object
 11  TYPE        13 non-null     object
 12  STATUS      13 non-null     object
 13  POPULATION  13 non-null     int64
 14  COUNTY      13 non-null     object
 15  COUNTYFIPS  13 non-null     object
 16  COUNTRY     13 non-null     object
 17  LATITUDE    13 non-null     float64
 18  LONGITUDE   13 non-null     float64
 19  NAICS_CODE  13 non-null     int64
 20  NAICS_DESC  13 non-null     object
 21  SOURCE      13 non-null     object
 22  SOURCEDATE  13 non-null     object
 23  VAL_METHOD  13 non-null     object
 24  VAL_DATE    13 non-null     object
 25  WEBSITE     13 non-null     object
 26  STATE_ID    13 non-null     object
 27  ALT_NAME    13 non-null     object
 28  ST_FIPS     13 non-null     int64
 29  OWNER       13 non-null     object
 30  TTL_STAFF   13 non-null     int64
 31  BEDS        13 non-null     int64
 32  TRAUMA      13 non-null     object
 33  HELIPAD     13 non-null     object
dtypes: float64(4), int64(8), object(22)
memory usage: 3.6+ KB

545      213
3449      70
3485      60
5429    -999
5433     150
6289     683
6293      80
6661     493
6774      23
6777     541
6786     126
6808     733
6813    1091
Name: BEDS, dtype: int64

In [47]:
hospitals.loc[0]

NAME                 CENTRAL VALLEY GENERAL HOSPITAL
ADDRESS                      1025 NORTH DOUTY STREET
CITY                                         HANFORD
STATE                                             CA
TYPE                              GENERAL ACUTE CARE
POPULATION                                        49
COUNTY                                         KINGS
COUNTYFIPS                                     06031
NAICS_DESC    GENERAL MEDICAL AND SURGICAL HOSPITALS
BEDS                                              49
Name: 0, dtype: object

In [5]:
#hospitals['STATE'].unique()
most_hospitals_county = hospitals[hospitals['STATE']=='TN']['COUNTY'].value_counts().keys()[0]
print(most_hospitals_county)

SHELBY

In [67]:
hospitals[hospitals['STATE']=='TN']['COUNTY'].value_counts()
# 95-80 = 15

SHELBY        23
DAVIDSON      15
HAMILTON      13
KNOX          11
WASHINGTON     6
              ..
CARTER         1
WARREN         1
CLAY           1
SMITH          1
WAYNE          1
Name: COUNTY, Length: 80, dtype: int64